@using IASD_Magnolia
@using IASD_Magnolia.Models
@using IASD_Magnolia.Resources
@using Microsoft.Extensions.Localization
@inject IASD_Magnolia.Services.VerseOfTheDayService VerseService
@inject IStringLocalizer<SharedResource> L

<div class="versiculo-card">
    <div class="versiculo-header">
        <i class="fa-regular fa-file-lines"></i>
        @L["Verse.Title"]
    </div>

    @if (isLoading)
    {
        <div class="versiculo-loading">
            <p>@L["Verse.Loading"]</p>
        </div>
    }
    else if (verse != null)
    {
        <p class="versiculo-text">@verse.Text</p>
        <p class="versiculo-reference">@verse.Reference</p>
    }
    else
    {
        <p class="versiculo-text">@L["Verse.FallbackText"]</p>
        <p class="versiculo-reference">@L["Verse.FallbackReference"]</p>
    }
</div>

@code {
    private DailyVerse? verse;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            verse = await VerseService.GetDailyVerseAsync();
        }
        catch
        {
            verse = null;
        }
        finally
        {
            isLoading = false;
        }
    }
}